<div class="list-group" style="height: 415px;border: 1px solid #c6c6c6;position: relative;">
                    <a href="#" class="list-group-item  active">
                      Cliente Retornar
                    </a>
                    <a href="#" class="list-group-item" ng-repeat="usersRetorna in clientesRetornar" ng-click="trocaRetorno(this)">Cliente - {{usersRetorna.sala}}<buttom class="btn btn-default" ng-click="excluirDoSistema('retorna',usersRetorna.sala)"><i class="fa fa-trash-o fa-lg"></i></buttom></a>
               </div>